Wassuh, 
<% if current_user %>

<div>
Your profile:
<ul>
	<li><b>Email:</b> <%= current_user.email %></li>
	<li><b>First name:</b> <%= current_user.first_name %></li>
	<li><b>Last name:</b> <%= current_user.last_name %></li>
	<li><b>Phone:</b> <%= current_user.phone %></li>
	<li><b>Company:</b> <%= current_user.company %></li>
	</ul>
<% end %>

</div>

<div>
<% if current_user.campaigns %>
	<b>Your campaigns:</b>
	<% @campaigns.each do |campaign| %>
		<div class="user_campaign">
			<ul>
				<li><b>User ID:</b> <%= campaign.user_id  %></li>
				<li><b>Campaign ID:</b> <%= campaign.id  %></li>
				<li><b>Campaign Phone Number:</b> <%= campaign.campaign_phone  %></li>
				<li><b>Campaign Keyword:</b> <%= campaign.campaign_keyword  %></li>
				<li><b>Destination URL:</b> <%= campaign.destination_url  %></li>
				<li><b>Created at:</b> <%= campaign.created_at  %></li>
				<li><b>Campaign Description:</b> <%= campaign.campaign_description  %></li>
				<li><b>Active?:</b> <%= campaign.active  %></li>
				<li><b>Start Time:</b> <%= campaign.start_time  %></li>
				<li><b>End Time:</b> <%= campaign.end_time  %></li>
				<li><%= link_to 'Edit Campaign', edit_campaign_path(campaign.id) %></li>
			</ul>
		</div>
	<% end %>
<% end %>

<br>
<%= link_to('Create a new campaign', new_campaign_path) %>
</div>

<div>
	<%= link_to('Sign up', new_user_registration_path)  %>
	<br>
	<%= link_to('Log in', new_user_session_path)  %>
	<br>
	<%= link_to 'Log out', destroy_user_session_path, :method => :delete  %>

</div>